<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhumi Varta Test</title>
    <link rel="icon" type="image/png" href="https://www.bvarta.com/wp-content/uploads/2021/07/Bvarta.png" type="image/x-icon">
    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #mapid {
            width: 100%;
            height: 100vh;
        }
        
    </style>
</head>
<body>
    <div id="mapid">
    </div>
</body>
</html>

<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script type="text/javascript" src="script.js"></script>

